<div class="container">
    <h2>Sign Up</h2>
    <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" [(ngModel)]="userRegistration.firstName" required #firstNameEvent="ngModel">
        </div>
        <div class="info-text" *ngIf="firstNameEvent.invalid && (firstNameEvent.dirty || firstNameEvent.touched) && firstNameEvent.errors?.['required']">
            First Name is required.
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="userRegistration.lastName" required #lastNameEvent="ngModel">
        </div>
        <div class="info-text" *ngIf="lastNameEvent.invalid && (lastNameEvent.dirty || lastNameEvent.touched) && lastNameEvent.errors?.['required']">
            Last Name is required.
        </div>
        <div>
            <label for="username">User Name</label>
            <input type="text" id="username" name="username" [(ngModel)]="userRegistration.username" required #UserNameEvent="ngModel">
        </div>
        <div class="info-text" *ngIf="UserNameEvent.invalid && (UserNameEvent.dirty || UserNameEvent.touched) && UserNameEvent.errors?.['required']">
            User Name is required.
        </div>
        <div>
            <label for="newPassword">Password</label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="userRegistration.newPassword" required
            pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" #newPasswordEvent="ngModel">
        </div>
        <div class="info-text" *ngIf="newPasswordEvent.invalid && (newPasswordEvent.dirty || newPasswordEvent.touched) && newPasswordEvent.errors?.['pattern']">
            Password must contain at least 1 capital letter, 1 special character, 1 number, and minimum of 8 characters.
        </div>
        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="userRegistration.confirmPassword" required #confirmPasswordEvent="ngModel">
            <div *ngIf="userRegistration.newPassword !== userRegistration.confirmPassword && (confirmPasswordEvent.dirty || confirmPasswordEvent.touched)" class="error">Password does not match</div>
        </div>
        <div>
            <label for="email">Email ID</label>
            <input type="email" id="email" name="email" [(ngModel)]="userRegistration.email" required #emailEvent="ngModel">
        </div>
        <div class="info-text" *ngIf="emailEvent.invalid && (emailEvent.dirty || emailEvent.touched) && emailEvent.errors?.['required']">
            Email is required.
        </div>
        <button type="submit" [disabled]="signUpForm.invalid || userRegistration.newPassword !== userRegistration.confirmPassword"
            [ngClass]="{'disabled': signUpForm.invalid || userRegistration.newPassword !== userRegistration.confirmPassword}">
            Sign Up
        </button>
        <div class="info-text" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
    </form>
    <a [routerLink]="['login']">If already have an acoount, login</a>
</div>